[user]
	name = yoan
	email = motoki.yoan@gmail.com
[color]
	ui = true
[alias]
	br = branch
	ci = commit -a
	co = checkout
	st = status
	di = diff
[core]
	excludesfile = ~/.gitconfig
	editor = /usr/bin/vim
