[user]
	name = motoki.yoan
	email = motoki.yoan@mixi.co.jp
[color]
	ui = true
[alias]
	br = branch
	ci = commit
	co = checkout
	st = status
[core]
	excludesfile = ~/.gitconfig
	editor = vim
[editor]
    editor = vim
    pager = "nfs -s | LESSCHARSET=utf-8 less"
    autoCRLF = false

